.login-form {
    max-width: 350px;
    min-width: 350px;
    padding: 40px 20px;
    background-color: white;
    margin: 0 auto;
  }

  .login-form-margin {
    margin-bottom: 16px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }